.header{
    min-height: 7rem;
}

.bottom-line{
    height: 1px;
    position: absolute;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to right,#2cd4c3,#008bd0);
}

.module-name{
    font-family: 'Comfortaa', cursive;
    word-wrap: break-word;
    max-width: 18rem;
}