.hide{
    display: none;
}

header {
    background-color: #373737;
}

.header-title {
    color: #f3f3f3;
}

#selectedModulePath {
    padding-left: 1rem;
}

#folderSelectError {
    padding-top: 1rem;
}

td {
    min-width: 8rem;
}